<%- include('partials/header') %>
<div class="color">
<%- include('partials/nav') %>

<div class="job">
    <div class="job-main">
        <div >
           
            <a class="job-content" href="#"><i class="fa fa-solid fa-briefcase mr-2"></i> Assessment</a>
        </div> 
        <div class="nav-menu">
            <div class="menu">
                <!-- <button class="p-1"><i class="fa fa-plus pr-1" aria-hidden="true"></i>Add Jobs</button> -->
                <a class="btn btn-light btn-sm" href="/addassessment" role="button"><i class="fa fa-plus pr-1" aria-hidden="true"></i>Add Assessment</a>
            </div>
        </div>

   </div>
</div>

<div class="row">
<div class="col-sm-2">
 <%- include('partials/sidebar') %>

</div>
<div class="col-sm-8">


<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table class="table table-bordered border-2 table-striped mb-0" id="myTable">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Assessment Name</th>
          <th scope="col">No of Questions</th>
          <th scope="col">Assessment Owner</th>
          <th scope="col">Modified Time</th>
         
        </tr>
      </thead>
      <tbody>
      
        <% assessment.forEach(function(element){  %>
         <tr>
          <td scope="row"> 
            <form action="/deleteassessment" method="POST">
                <input type="checkbox" name="checkbox" value ="<%= element._id %>" onclick="this.form.submit()">
            </form>    
            </td>
      <td> <a class="ass-link" href=""><%= element.assessmentName %></a></td>
         <td id="data"> <%=  element.noOfQuestions %></td>
          <td><%= element.assessmentOwner %></td>
          <td><%= element.modifiedDate %></td>
       
           </tr>
       <% })  %>
      </tbody>
    </table>
  
  </div>
</div>

</div>


</div>
<%- include('partials/footer') %>
