<%- include('partials/header') %>
<div class="color">
<%- include('partials/nav') %>

<div class="job">
    <div class="job-main">
        <div >
           
            <a class="job-content" href="#"><i class="fa fa-user mr-2" aria-hidden="true"></i>Task</a>
        </div> 
        <div class="nav-menu">
            <div class="menu">
                <!-- <button class="p-1"><i class="fa fa-plus pr-1" aria-hidden="true"></i>Add Jobs</button> -->
                <a class="btn btn-light btn-sm" href="/addtask" role="button"><i class="fa fa-plus pr-1" aria-hidden="true"></i>Add Task</a>
            </div>
        </div>

   </div>
</div>

<div class="row">
<div class="col-sm-2">
 <%- include('partials/sidebar') %>

</div>
<div class="col-sm-8">


<div class="table-wrapper-scroll-y my-custom-scrollbar" ">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <table class="table table-bordered border-2 table-striped mb-0" id="myTable">
      <thead>
        <tr>
            <th scope="col"></th>
          <th scope="col">Task Name</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Assigned Date</th>
          <th scope="col">Due Date</th>
          <th scope="col">Task Status</th>


        </tr>
      </thead>
      <tbody>
       
        <%  task.forEach(function(task){ %>

         <tr>
            <td scope="row"> 
            <form action="/delete" method="POST">
                <input type="checkbox" name="checkbox" value ="<%= task._id %>" onclick="this.form.submit()">
            </form>    
            </td>
          <td scope="row"><%= task.taskName %> </td>
          <td id="data"><%=  task.assignedTo %></td>
          <td><%=  task.assignedDate %> </td>
          <td><%= task.dueDate %></td>
         
          <td><%= task.taskStatus %></td>
    

        </tr>
        <%})  %>
      </tbody>
    </table>
  
  </div>
</div>

</div>


</div>
<%- include('partials/footer') %>
